{% extends 'base.html.twig' %}

{% block title %}Nouvelle Ordonnance{% endblock %}

{% block body %}
<h1>Créer une nouvelle ordonnance</h1>

{{ form_start(form) }}

    {{ form_row(form.reference) }}
    {{ form_row(form.diagnostic) }}
    {{ form_row(form.notes) }}

    <button class="btn btn-success mt-3">Créer</button>

{{ form_end(form) }}

<a href="{{ path('ordonnance_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
{% endblock %}